{{ define "content" }}
    <div class="w-full bg-white flex flex-col px-8 py-20 -mb-8">
        <object type="image/svg+xml" data="/public/images/404.svg" class="w-80 mx-auto"
        aria-label="404 Fehler Bild">
            404
        </object>
        <p class="text-center pt-8">Huch, hier scheint etwas schief gelaufen zu sein.</p>
        <p class="text-center">Möglicherweiße existiert die Seite, die Sie versucht haben aufzurufen nicht.</p>
        <div class="text-center mt-8">
            <a href="/"
               class="bg-primary text-white rounded px-2 py-4 hover:shadow-lg">Zur Startseite</a>
        </div>
    </div>
{{ end }}