{{ define "content" }}
    <div class="px-4 md:px-32 mt-20">
        <p>Hier finden Sie eine Übersicht über alle aktuellen Stellenanzeigen von uns.</p>

        <div class="bg-white rounded shadow border px-4 py-8 mt-8 flex justify-between">
            <div>
                <p class="text-primary text-lg">Kaufmann /-frau Büromanagement (m/w/d)</p>
                <p>Dachau - ab sofort</p>
            </div>
            <a href="/career/buero" target="_blank" referrerpolicy="no-referrer"
               class="bg-primary text-white rounded px-2 py-4 hover:shadow-lg">Zur Anzeige</a>
        </div>
        <div class="bg-white rounded shadow border px-4 py-8 mt-8 flex justify-between">
            <div>
                <p class="text-primary text-lg">Podologe (m/w/d)</p>
                <p>Dachau - ab sofort</p>
            </div>
            <a href="/career/podologe" target="_blank" referrerpolicy="no-referrer"
               class="bg-primary text-white rounded px-2 py-4 hover:shadow-lg">Zur Anzeige</a>
        </div>
    </div>
{{ end }}