{{ define "content" }}
    <div class="px-4 md:px-32 mt-20">
        <h1 class="text-3xl font-semibold text-gray-800 mt-10">Lizenzen</h1>
        <p>Folgende Ressourcen Nutzen wir auf dieser Website:</p>
        <div class="bg-white rounded shadow border px-4 py-8 mt-8 flex justify-between">
            <div>
                <p class="text-primary text-lg">Font-Awesome</p>
                <p>Für alle unsere Icons</p>
            </div>
            <a href="https://fontawesome.com/license" target="_blank" referrerpolicy="no-referrer"
               class="bg-primary text-white rounded px-2 py-4 hover:shadow-lg">Zur Ressource</a>
        </div>
    </div>
{{ end }}