{{ define "content" }}
    <div class="px-4 md:px-32 mt-20">
        <picture>
            <source type="image/webp" srcset="/public/images/news.webp">
            <source type="image/jpeg" srcset="images/news.jpg">
            <img src="/public/images/news.jpg" alt="senay neuigkeiten" class="md:w-1/2">
        </picture>
        <h1 class="text-3xl font-semibold text-gray-800 mt-10">Neuigkeiten</h1>
        <div class="bg-white rounded shadow border px-4 py-8 mt-8">
            <p>Momentan gibt es keine Neuigkeiten.</p>
        </div>
    </div>
{{ end }}