{{ define "content" }}
    <div class="px-4 md:px-32 flex-col md:flex-row mt-20 flex">
        <div class="md:w-3/4 text-gray-600 font-light leading-6">
            <h1 class="text-3xl font-semibold text-gray-800">Womit helfen wir Ihnen?</h1>
            <p class="mt-8 font-bold text-primary">Podologische Komplex Behandlung bei Diabetikern</p>
            <p class="ml-2 mt-2">Auch Rheumatiker, Dialyse Patienten, Patienten mit Durchblutungsstörungen,
                Neuropathie</p>
            <p class="mt-8 font-bold text-primary">Eingewachsene Naegel:</p>
            <ul class="list-inside leading-loose list-disc mt-2 ml-2">
                <li>Ecken rausschneiden und richtiger Nagelschnitt</li>
                <li>Verschiedene Tamponagen</li>
                <li>Verschiedene Korrektur-Spangen-Techniken</li>
                <li>Präventive Behandlungen</li>
            </ul>
            <p class="mt-8 font-bold text-primary">Nageldeformationen:</p>
            <ul class="list-inside leading-loose list-disc mt-2 ml-2">
                <li>Kunstnägel</li>
                <li>Nagelverstärkung mit Stripes</li>
            </ul>
            <p class="mt-8 font-bold text-primary">Hühneraugen und Hornhaut:</p>
            <ul class="list-inside leading-loose list-disc mt-2 ml-2">
                <li>Fachgerechte Abtragung von Hühneraugen und Verhornungen</li>
                <li>Ursachen Diagnose</li>
                <li>Individuelle Druckschutz (Anfertigung von Orthosen)</li>
            </ul>
            <p class="mt-8 font-bold text-primary">Bei schmerzenden Füssen:</p>
            <ul class="list-inside leading-loose list-disc mt-2 ml-2">
                <li>Podo-Taping</li>
                <li>Hallux Valgus und Zehendeformationen</li>
                <li>Fussanalyse</li>
            </ul>
            <p class="mt-8 font-bold text-primary">Sportlerbehandlungen</p>
            <p class="mt-8 font-bold text-primary">Geriatrie und Füsse</p>
            <p class="mt-8 font-bold text-primary">Kinderfüsse</p>
            <p class="mt-8 font-bold text-primary">Fussgymnastik</p>
            <p class="mt-8 font-bold text-primary">Medizinische Fusspflege für Jeden!</p>
            <p class="mt-8 font-bold text-primary">Kosmetische Behandlung:</p>
            <ul class="list-inside leading-loose list-disc mt-2 ml-2">
                <li>Maniküre</li>
                <li>Nagellack</li>
                <li>Fussmassage</li>
            </ul>
        </div>
        <div class="md:w-1/4 p-10">
            <picture>
                <source type="image/webp" srcset="/public/images/service_clips.webp">
                <source type="image/png" srcset="images/service_clips.png">
                <img src="/public/images/service_clips.png" alt="spange wird auf nagel aufgetragen">
            </picture>
        </div>
    </div>
    <div class="px-4 md:px-32 flex-col md:flex-row mt-20 flex">
        <div class="md:w-1/2 py-10 md:py-0 px-10 order-last md:order-none">
            <picture>
                <source type="image/webp" srcset="/public/images/service_hobbing.webp">
                <source type="image/png" srcset="images/service_hobbing.png">
                <img src="/public/images/service_hobbing.png" alt="fraesen des fußnagels">
            </picture>
        </div>
        <div class="md:w-1/2 text-gray-700 font-light">
            <h2 class="text-3xl font-semibold text-gray-800">Wie wir unseren Patienten helfen</h2>
            <p class="mt-4">Hinzukommen Fuß- und Nagelerkrankungen, die durch Diabetes, endokrinologische oder
                physiologische Gründe
                verursacht werden. Infolge abnehmender Schmerzempfindung bei Diabetikern wird die Entstehung weiterer
                Komplikationen bis hin zu Verletzungen verursacht. Nur eine enge Zusammenarbeit zwischen Patientem und
                Podologen sind der beste Schutz gegen Komplikationen bei Diabetes.</p>
            <p class="mt-4">In unserer Fachpraxis für Podologie bieten wir alle Dienstleistungen, die der Pflege Ihrer
                Füße und der Heilung schwerwiegender Fußprobleme dienen.</p>
            <p class="mt-4"> Die Gesundung der Füße bedarf meist einer lang anhaltenden Behandlung, die eine
                vertrauensvolle und freundliche Zusammenarbeit zwischen dem Patienten und unserer Podologie-Praxis
                voraussetzt.</p>
            <p class="mt-4">Langjährige Erfahrung, Sorgfalt und Kontinuität sind bei Podologie-Wundsam die Garanten, daß
                wir unseren Patienten ganzheitlich und nachhaltig helfen.</p>
            <p class="mt-4">Präsenz und Wissen zum Wohle Ihrer Gesundheit – dafür stehen wir.</p>
        </div>
    </div>
{{ end }}