<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="Fachpraxis Podologie Wundsam, Ihr Ansprechpartner für medizinische Fußpflege und Podologie in Dachau bei München, in allen Fällen von Schmerzen und Deformationen an Ihren Füßen.">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png?v=XBbJKPAqdW">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png?v=XBbJKPAqdW">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png?v=XBbJKPAqdW">
    <link rel="manifest" href="/public/favicons/site.webmanifest?v=XBbJKPAqdW">
    <link rel="mask-icon" href="/public/favicons/safari-pinned-tab.svg?v=XBbJKPAqdW" color="#5bbad5">
    <link rel="shortcut icon" href="/public/favicons/favicon.ico?v=XBbJKPAqdW">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="/public/favicons/browserconfig.xml?v=XBbJKPAqdW">
    <meta name="theme-color" content="#33cc33">

    <link rel="stylesheet" href="public/style.css">

    <title>{{ .title }}Podologie Wundsam</title>
</head>
<body class="antialiased">
{{ template "layouts/nav" . }}
{{ template "content" . }}
{{ template "layouts/footer" . }}
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
</body>
</html>
