{{ define "components/notification" }}
<div class="px-5 py-8 bg-danger rounded text-black">
    <p class="font-bold">
        Keine Tests für Patienten von Podologen
    </p>
    <br>
    <p>
        In §28-8 des Infektionsschutzgesetzes wurde die Testpflicht für körpernahe Dienstleistungen jenseits des Medizinrechts, wie z.B. Fußpflege, verankert.
    </p>
    <br>
    <p>
        Patienten der Podologie sind hiervon nicht betroffen. 
    </p>
    <br>
    <p>
        Hier gelten die bisherigen Regelungen zum Infektions- und Arbeitsschutz.
    </p>
    <br>
    <p>
        Unsere Patienten müssen also keinen Corona-Test vorlegen.
    </p>
</div>
{{ end }}