{{ define "components/notification" }}
<div class="px-5 py-8 bg-danger rounded text-black">
    <p>Aufgrund der aktuellen Corona-Entwicklung:</p>
    <p class="font-bold mt-3">Behandlungen aufgrund ärztlicher Verordnung:</p>
    <p class="ml-2">Medizinisch notwendige Behandlungen im Rahmen der Podologie bleiben weiterhin möglich. Diese fallen nicht unter die 3G Regelung.
        Patienten mit ärztlicher Verordnung müssen KEINEN negativen Corona-Test bei uns vorlegen, um eine medizinisch notwendige Leistung in Anspruch zu nehmen.
        Die therapeutische Tätigkeit aus medizinischen Gründen (hierfür muss keine Verordnung vorliegen) ist keine sogenannte „körpernahe Dienstleistung“.</p>
    <p class="font-bold mt-3">Behandlungen ohne ärztliche Verordnung:</p>
    <p class="ml-2">Patienten ohne ärztliche Verordnung müssen nach Vorgabe bei Betreten der Praxis einen Nachweis über Impfung, Genesung oder PCR-Testung vorlegen (3G Regelung).</p>
    <p class="font-bold mt-3">Außerdem:</p>
    <p class="ml-2">Während des Aufenthaltes in unserer Praxis soll eine FFP2 Maske getragen werden.</p>
</div>
{{ end }}