{{ define "components/notification" }}
<div class="px-5 mb-4 py-8 bg-yellow-300 rounded text-black">
        <p>Unsere Betriebsferien beginnen am 23.12 und enden mit dem 06.01.2021.</p>
    </div>
    <div class="px-5 py-8 bg-danger rounded text-black">
        <p>
            Aufgrund der Corona-Situation sind viele unserer Patienten verständlicherweise verunsichert und meiden die
            Sprechstunde beim Arzt oder Podologen.
        </p>
        <br>
        <p>
            Auf Dauer können viele <strong>nicht auf die Behandlung verzichten</strong>, vor allem nicht Ältere oder
            Diabetiker. Denn gerade
            diese bedürfen einer kontinuierlichen Kontrolle und Behandlung.
        </p>
        <br>
        <p>
            Sitzen Sie bei anhaltenden Beschwerden am Fuß wegen der Sorge um Corona den Besuch beim Podologen nicht aus.
        </p>
        <br>
        <p>
            Podologie Fachpraxis Wundsam ist mit <strong>Hygiene-Schutzausrichtung ausgestattet</strong> und bietet
            Ihnen eine <strong>sichere und
                kontinuierliche Behandlung</strong>.
        </p>
    </div>
{{ end }}